# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.css]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.{js,ts}]
indent_style = space
indent_size = 2
# non-standard
quote_type = single

[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
# non-standard
max_line_length = off

[package.json]
indent_style = space
indent_size = 2
